#container {
    padding: 120px 0 50px;
    position: relative;
    z-index: 999;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    /*background: url("../images/bodyPic.png") no-repeat rgb(41, 31, 85);*/
    /*background-size:100% 100%;*/
}
#container .top-1,#container .top-2 {
    display: inline-block;
}
#container #card {
    /*position: absolute;*/
    /*top:15%;*/
    /*right:0;*/
    padding: 20px;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    font-size: 14px;
    background: rgba(245, 243, 243, 0.71);
}
#container .infor h3 {
    margin-bottom: 5px;
    padding: 0 13px;
}
#container .infor h3 i,.icon.icon-edit {
    font-size: 14px;
}
#container .infor .status {
    display: inline-block;
    font-size: 14px;
    padding: 4px 7px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
/*#container .infor .status:hover,#container .inforContent .main .original:hover {*/
    /*background: rgba(18, 66, 84, 0.83) !important;*/
    /*color: white;*/
/*}*/
#container .infor .inforLine {
    display: inline-block;
    max-width: 24%;
    min-width: 24%;
    margin-right: 0.5%;
}
#container .infor .inforLine b {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*position: relative;*/
    /*top: 4px;*/
}
#container .infor p {
    font-size: 14px;
    margin: 8px 0;
    text-align: left;
}
#container .infor p span {
    display: inline-block;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
#container .infor p b {
    /*position: relative;*/
    /*top: 3px;*/
    display: inline-block;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
#container .infor .isPlatform span{
    width: auto!important;
}
#container .infor .isPlatform,
#container .infor .isPlatform b {
    max-width: 100%!important;
}
#container .infor .comBisic,#container .icon-edit {
    cursor: pointer;
}
/**/
#container .riskValue {
    margin: 2px auto 0;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    background:rgba(245, 243, 243, 0.71);
}
#container .riskValue .riskLeft {
    float: left;
    width: 45%;
}
#container .riskValue .riskRight {
    float: right;
    width: 40%;
}
#container .riskValue .riskRight .time {
    display: inline-block;
    padding: 1px 4px;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 12px;
    margin: 10px 0;
}
#container .riskValue .riskRight .monitor span {
    display: inline-block;
    max-width: 32%;
    min-width: 32%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#container .riskValue .comRisk {
    font-size: 14px;
    cursor: pointer;
}
#container .riskValue p {
    font-size: 16px;
    margin:30px 0 0 30px;
    max-width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
/**/
#container .downCompany {
    margin: 2px auto 0;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    background: rgba(245, 243, 243, 0.71);
}
#container .downCompany #table-1{
/*,#container .downCompany #table-2 {*/
    /*float: left;*/
    /*width: 50%;*/
    width: 100%;
    height: 300px;
    // height: 900px;
}
#container .downCompany #table-2 {
    float: right;
    padding: 20px;
    border-radius: 5px;
    font-weight: 600;
    width: 40%;
    font-size: 14px;
    /*text-align: left;*/
    /*background: rgba(150, 150, 150, 0.25);*/
}
#container .publicityTable #pubTable {
    font-size: 14px;
    padding: 20px;
}
#container .downCompany #table-2 td,
#container .publicityTable #pubTable th,
#container .publicityTable #pubTable td {
    padding: 5px 0;
    text-align: center;
}
/**/
#container .income {
    margin: 2px auto 0;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    background: rgba(245, 243, 243, 0.71);
}
/**/
#container .promise .pro {
    width: 48%;
    float: left;
    padding: 5px 10px;
}
#container .promise .promise-2 {
    float: right;
}
/**/
#container .promise,#container .operating,#container .register,#container .litigation,
#container .publicity,#container .advertising{
    width: 100%;
    padding: 20px;
    margin: 2px auto 0;
    overflow: hidden;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    background: rgba(245, 243, 243, 0.71);
}
/**/
/*#container .advertising {*/
    /*width: 80%;*/
    /*margin:20px auto 0;*/
/*}*/
#container .inforContent .main {
    width: 96%;
    text-align: left;
    position: relative;
    padding: 5px 5px 5px 30px;
    background: rgba(88, 88, 88, 0.1);
    margin: 20px auto 0;
}
#container .inforContent .main .textFlag {
    position: absolute;
    /*top: 17px;*/
    left:8px;
}
#container .inforContent .main .option span {
    display: inline-block;
    margin-right: 20px;
}
#container .inforContent .main .context {
    margin:10px 0;
}
/*#container .inforContent .main .original {*/
    /*cursor: pointer;*/
    /*font-size: 12px;*/
    /*display: inline-block;*/
    /*padding: 3px 7px;*/
    /*border: 1px solid seashell;*/
    /*border-radius: 5px;*/
/*}*/
/**/
#container .internet {
    width: 80%;
    margin:20px auto 0;
    color: #fff;
}
/**/
#container .commentInfor {
    width: 100%;
    padding: 20px;
    margin: 2px auto 0;
    overflow: hidden;
    /*border: 2px solid #5f5c59;*/
    /*border-radius:10px;*/
    background: rgba(245, 243, 243, 0.71);
}
/**/
#container .related {
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
    overflow: hidden;
}
#container .pro {
    width: 47%;
    display:inline-block;
}
#container .related h4 {
    text-align: center;
    margin: 10px 0;
}
#container .related #product,#container .related #company {
    padding: 10px;
    border: 1px solid seashell;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    height: 300px;
    background: rgba(150, 150, 150, 0.25);
}

/*表格样式*/
.bootstrap-table .table>thead>tr>th {width: 5%;}
.fixed-table-toolbar .search {width: 100%;}
.fixed-table-toolbar .search .form-control {text-align: center;}
.business .fixed-table-container,.business .bootstrap-table .table>thead>tr>th,
.business .table>tbody>tr>td,.business .bootstrap-table .table,
.incomeTable .fixed-table-container,.incomeTable .bootstrap-table .table>thead>tr>th,
.incomeTable .table>tbody>tr>td,.incomeTable .bootstrap-table .table,
.guarantee .fixed-table-container,.guarantee .bootstrap-table .table>thead>tr>th,
.guarantee .table>tbody>tr>td,.guarantee .bootstrap-table .table,
.billing .fixed-table-container,.billing .bootstrap-table .table>thead>tr>th,
.billing .table>tbody>tr>td,.billing .bootstrap-table .table,
.commentinforContent .fixed-table-container,.commentinforContent .bootstrap-table .table>thead>tr>th,
.commentinforContent .table>tbody>tr>td,.commentinforContent .bootstrap-table .table
{border: none;}
.business .fixed-table-container thead th .both,.incomeTable .fixed-table-container thead th .both,
.guarantee .fixed-table-container thead th .both,.billing .fixed-table-container thead th .both,
.commentinforContent .fixed-table-container thead th .both {background-image: none;}
.business .fixed-table-container thead th .th-inner,
.business .table>tbody>tr>td,.business .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.incomeTable .fixed-table-container thead th .th-inner,
.incomeTable .table>tbody>tr>td,.incomeTable .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.guarantee .fixed-table-container thead th .th-inner,
.guarantee .table>tbody>tr>td,.guarantee .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.billing .fixed-table-container thead th .th-inner,
.billing .table>tbody>tr>td,.billing .bootstrap-table .table:not(.table-condensed)>tbody>tr>td,
.commentinforContent .fixed-table-container thead th .th-inner,
.commentinforContent .table>tbody>tr>td,.commentinforContent .bootstrap-table .table:not(.table-condensed)>tbody>tr>td
{padding: 0;}