#container {
    position: relative;
    z-index: 999;
    width: 100%;
    /*background: url("/static/images/bodyPic.png") no-repeat rgb(41, 31, 85);*/
    background:rgb(4, 19, 38);
}
#container .section {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
#container .inforContent .main .original:hover {
    color: black!important;
    background: white!important;
}
#container .icon-edit {
    cursor: pointer;
}
/**/
#container .firstScreen .topTitle {
    text-align: center;
}
#container .firstScreen .topTitle dl{
    display: inline-block;
    margin: 10px 35px 0;
    // margin: 10px 20px 0;
    font-size: 22px;
    color: white;
}
#container .firstScreen .topTitle dl dd {
    font-size: 28px;
    font-weight: 800;
    color: #ff9645;
}
#container .firstScreen .search .searchWord,
#container .secondScreen .search-2 .searchWord-2 {
    padding: 3px 6px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}
#container .firstScreen .search{
    float: right;
}
#container .secondScreen .search-2,#container .secondScreen .search-2-2 {
    display: inline-block;
    margin-left: 20px;
}
#container .firstScreen .search .searchWord:focus,
#container .secondScreen .search-2 .searchWord-2:focus {
    background: #f8f8f8;
    color: #3c3c3c;
}
#container .content,#container .content-2,#container .content-2-2 {
    position: relative;
}
#container .content .conLeft,#container .content-2 .conLeft,#container .content-2-2 .conLeft {
    display: inline-block;
    margin-right: 20px;
}
#container .content-2 .conLeft, #container .content-2-2 .conLeft{
    margin:10px 0 0 0;
}
#container .content .ct-tit,#container .content-2 .ct-tit,#container .initials .ct-tit {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
#container .content .selectLab,#container .content-2 .selectLab,
#container .thirdScreen ._time,#container .sixScreen ._time1,#container .sixScreen ._time2,
#container .content-2-2 .selectLab{
    display: inline-block;
    padding: 3px 7px;
    border: 1px solid silver;
    border-radius: 5px;
    background: rgba(32, 32, 32, 0.6);
    color: white;
}
/**/
/**/
#container .trend .ct-tit, #container .type .ct-tit{
    display: inline-block;
    /*margin: 10px 0 0 40px;*/
    font-size: 16px;
    font-weight: 700;
    color: white;
}
/**/
