#container {
    position: relative;
    z-index: 999;
    width: 100%;
    background:rgb(4, 19, 38);
}
#container .section {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
#container .firstScreen .topTitle {
    text-align: center;
}
#container .firstScreen .topTitle dl{
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: white;
}
#container .firstScreen .topTitle dl dt{
    font-weight:700;
}
#container .firstScreen .topTitle dl dd {
    font-size: 16px;
    color: #ff9645;
}
#container .felling {
    color: white;
    // font-weight: 600;
}
#container .secondScreen #addClub {
    color: white;
    font-weight: 600;
    width: 100%;
    /*border: 3px solid #c0c0c0;*/
}
#container .secondScreen #addClub thead th {
    width: 14%;
    text-align: center;
    padding:15px 8px ;
}
#container .secondScreen #addClub thead th:nth-child(1){
    width: 2%;
}
#container .secondScreen #addClub thead th:last-child{
    width: 14%;
}
#container .secondScreen #addClub td {
    text-align: center;
    padding: 15px 8px;
}
#container .secondScreen #addClub td input.editing, #container .secondScreen #addClub td select.editing{
    background: transparent;
    color: #FFFFFF;
    border:1px solid #777777;
    text-align: center;
}
#container .secondScreen #addClub td select.editing:focus{
    background: #f8f8f8;
    color: #3c3c3c;
}
/**/
#container .secondScreen .newAdd {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
#container .secondScreen .newAdd input ,#container .secondScreen .newAdd .add-3 {
    background: transparent;
    border: 1px solid seashell;
    border-radius: 5px;
    padding: 4px 6px;
    width: 14%;
    // margin-right:13px;
    margin-right:0.8%;
    text-align: center;
    color: white;
}
#container .secondScreen .newAdd input:focus,#container .secondScreen .newAdd .add-3:focus {
    background: #f8f8f8;
    color: #3c3c3c;
}
/**/
#editRow .example {
    margin-top: 20px;
    // text-align: center;
    text-align: left;
    padding-left:20%;
}
#editRow .example span {
    display: inline-block;
    width: 100px;
    text-align: center;
}
#editRow .example input,#editRow .user-3 .u3_Val{
    width: 250px;
    background: transparent;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 7px;
    color: white;
    text-align: center;
}
#editRow .example input:focus,#editRow .user-3 .u3_Val:focus {
    color:black;
    background: #FFFFFF;
}

