{% extends "publicNav.html" %}
{% block title %}<title>公司画像</title>{% endblock %}
{% block my_css %}
<link rel="stylesheet" href="/static/css/company.css">
<style>
	<!---->
	#nav {background: #fff;box-shadow: 0 2px 5px rgba(41,46,51,0.15);color: #0e0e0e;}
	#nav .nav_middle .main_li .li_a,#nav .nav_right span {color: #0e0e0e;}
	#nav .nav_middle .main_li .line {background-color: #08F;}
	#nav .nav_right span {border: 1px solid #787878;}
	#nav .nav_middle, #nav .nav_right {display: block;}
	#nav .nav_right span:hover {
		background: #2ad1ff !important;
		color: white!important;
	}
	.page-list {display: none;}
	<!---->
	.riskValueTable .fixed-table-toolbar .search,.publicityTable .fixed-table-toolbar .search {
		display: none;
	}
	.riskValueTable .bootstrap-table .table thead>tr>th,.publicityTable .bootstrap-table .table thead>tr>th{
		width: 5%;
	}
	#commentinforContent tbody,#commentinforContent tr,#commentinforContent td {
		display:block;
		width:100%;
	}
	/* 宣传行为 */
	#pubTable {
		border-collapse:collapse;
		width:100%;
		border: 1px solid #ddd;
		border-radius:1px;
		padding:8px;
	}
	.publicityTable table>thead>tr>th{
		border-bottom:1px solid #ddd;
	}


	/* ===lvlei=== */
	/* 分页步进值按钮 */
	#container .register .btn-default.dropdown-toggle,.litigation .btn-default.dropdown-toggle {
		padding:0 6px;
	}
	/* 模态框 */
	#moreInfo {
		top:100px;
	}
	#moreInfo .modal-title{
		text-align: center;
	}
	#moreInfo .modal-body{
		max-height:500px;
		overflow:auto;
	}
	#moreInfo .modal-body span.titleName {
		font-weight:700;
	}
	#moreInfo .modal-body #words {
		text-indent:2em;
	}


	@media (min-width: 768px) {
		.modal-dialog {
			width: 800px;
			margin: 30px auto;
		}
	}
	/* 广告内容 */
	.billing span {
		font-weight:700;
	}
	/* 评论内容 */
	.commentinforContent span {
		font-weight:700;
	}
	/* 加载提示信息 */
	.load {
		text-align:center;
		margin-top:10px;
	}

	#inforChange thead th,#lawsuit thead th {
		border-top:none;
	}
	/*信息变更  诉讼记录 */
	#container .register h3,#container .litigation h3 {
		margin-bottom:15px;
	}
	/* ===12 22 === */
</style>
{% endblock %}
{% block main %}

<div id="container">
	<div style="text-align: right;">
		<span class="top-1 btn btn-primary">一键取证</span>
		<span class="top-2 btn btn-primary">一键报告</span>
		<!--<span id="LL" class="top-2 btn btn-primary">导出word</span>-->
		<span id="LL-PDF" class="top-2 btn btn-primary">导出PDF</span>
	</div>
	<div style="text-align: center;margin-bottom: 20px;">
		<span id="title" style="font-size: 36px;"><span id="title-1"></span>画像报告</span>
	</div>
	<div id="card">
		<div class="infor">
			<h3>
				<b class="name"></b>&nbsp;<i class="icon icon-edit comBisic" title="编辑"></i>
				<span class="nameStatus" style="font-size: 12px;color: #ff761f;">正在监测</span>
				<span class="status-1 status btn-primary"><i class="icon icon-retweet"></i>&nbsp;停止监测</span>
				<span class="status-2 status btn-primary"><i class="icon icon-sitemap"></i>&nbsp;查看网络图</span>
			</h3>
			<p class="infor-3 inforLine">
				<span>实体类型：</span>&nbsp;<b class="type-2"></b>
			</p>

			<p class="infor-2 inforLine">
				<span>运营模式：</span>&nbsp;<b class="type-1"></b>
			</p>
			<p class="infor-1 inforLine" style="max-width:50%;min-width:50%;margin-right:0;">
				<span style="text-align:left;">注册地：</span>&nbsp;<b class="location" style="max-width:100%;"></b>
			</p>
			<p class="infor-4 inforLine">
				<span>成立时间：</span>&nbsp;<b class="type-3"></b>
			</p>
			<p class="infor-5 inforLine">
				<span>法人代表：</span>&nbsp;<b class="type-4"></b>
			</p>
			<p class="infor-6 inforLine">
				<span>注册资本：</span>&nbsp;<b class="type-5"></b>
			</p>
			<p class="isPlatform inforLine" style="display: none;min-width:100%;">
				<span>工商注册公司名称：</span>&nbsp;<b class="isPlatformName"></b>
			</p>
			<p class="infor-7 inforLine">
				<span>旗下产品：</span>&nbsp;<b class="type">优易网、理财网</b>
			</p>

		</div>
	</div>
	<div class="riskValue">
		<h3><i class="icon icon-signal"></i>&nbsp;风险评价&nbsp;&nbsp;<i class="icon icon-edit comRisk" title="编辑"></i></h3>
		<div class="riskLeft">
			<p><span>是否疑似非法集资：</span>&nbsp;<b class="val-1" style="color: #ff9645;"></b></p>
			<p><span>风险等级：</span>&nbsp;<b class="val-2" style="color: #ff9645;"></b></p>
			<p><span>影响等级：</span>&nbsp;<b class="val-3" style="color: #ff9645;"></b></p>
			<p><span>集资模式：</span>&nbsp;<b class="val-4" style="color: #ff9645;"></b></p>
			<p><span>是否已判罚：</span>&nbsp;<b class="val-5" style="color: #ff9645;"></b></p>
		</div>
		<div class="riskRight">
			<span>时间：</span>
			<select class="time">
				<option value="近一周">近一周</option>
				<option value="近一个月">近一个月</option>
				<option value="近三个月">近三个月</option>
				<option value="近一年">近一年</option>
			</select>
			<div class="monitor">
				<span>指标预警：<b class="mon-1">22</b></span>
				<span>模型预警：<b class="mon-2">321</b></span>
				<!-- <span>舆情预警：<b class="mon-3">54</b></span> -->
			</div>
			<div class="riskValueTable" style="margin-top: 10px;">
				<div id="riskValueTable"></div>
			</div>
		</div>
	</div>
	<div class="downCompany">
		<h3><i class="icon icon-fire"></i>&nbsp;子公司、分公司情况</h3>
		<div style="width: 100%;text-align: center;">
			<div id="table-1"></div>
			<table id="table-2" cellpadding="0" cellspacing="0" border="1">
				<thead>
					<td colspan="2" id="tableName"></td>
					<td>一层</td>
					<td>二层</td>
					<td>三层</td>
				</thead>
				<tbody>
					<tr>
						<td rowspan="2">股东数量</td>
						<td>上</td>
						<td class="up-1"></td>
						<td class="up-2"></td>
						<td class="up-3"></td>
					</tr>
					<tr>
						<td>下</td>
						<td class="down-1"></td>
						<td class="down-2"></td>
						<td class="down-3"></td>
					</tr>
					<tr>
						<td rowspan="3">股东信息</td>
						<td colspan="4" rowspan="3" class="mid-3"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="operating">
		<h3><i class="icon icon-warning-sign"></i>&nbsp;经营异常&nbsp;&nbsp;<i class="icon icon-edit operating-1" title="编辑"></i></h3>
		<div class="business">
			<div id="business">
				<p class="load">正在拼命加载中....</p>
			</div>
		</div>
		<!--<div class="inforContent">-->
		<!--<div class="main">-->
		<!--<img src="/static/images/textIcon.png" class="textFlag">-->
		<!--<p class="context">-->
		<!--2015年7月13日，被武汉市江汉区工商列入异常经营1次。-->
		<!--</p>-->
		<!--</div>-->
		<!--</div>-->
	</div>
	<div class="register">
		<h3><i class="icon icon-bell-alt"></i>&nbsp;信息变更&nbsp;&nbsp;<i class="icon icon-edit register-1" title="编辑"></i></h3>
		<!--<div class="inforContent">-->
		<!--<div class="main">-->
		<!--<img src="/static/images/textIcon.png" class="textFlag">-->
		<!--<p class="context">-->
		<!--2015年7月13日，被武汉市江汉区工商列入异常经营1次。-->
		<!--</p>-->
		<!--</div>-->
		<!--</div>-->
		<div class="inforChange">
			<div id="inforChange">
				<p class="load">正在拼命加载中....</p>
			</div>
		</div>
	</div>
	<div class="litigation">
		<h3><i class="icon icon-envelope-alt"></i>&nbsp;诉讼记录&nbsp;&nbsp;<i class="icon icon-edit inter-1" title="编辑"></i></h3>
		<!--<div class="inforContent">-->
		<!--<div class="main">-->
		<!--<img src="/static/images/textIcon.png" class="textFlag">-->
		<!--<p class="context">-->
		<!--因著作权权属、侵权纠纷和侵害商标纠纷引起的法律诉讼共2起-->
		<!--</p>-->
		<!--</div>-->
		<!--</div>-->
		<div class="lawsuit">
			<div id="lawsuit">
				<p class="load">正在拼命加载中....</p>
			</div>
		</div>
	</div>

	<div class="income">
		<h3><i class="icon icon-money"></i>&nbsp;收益率及其分布</h3>
		<!--<div id="incomeTable" style="width: 100%;height: 450px;"></div>-->
		<div class="incomeTable">
			<div id="incomeTable">
				<p class="load">正在拼命加载中....</p>
			</div>
		</div>
	</div>
	<div class="promise">
		<h3><i class="icon icon-gift"></i>&nbsp;收益/保本/担保承诺&nbsp;&nbsp;<i class="icon icon-edit comPro-1" title="编辑"></i></h3>
		<div class="guarantee">
			<div id="guarantee">
				<p class="load">正在拼命加载中....</p>
			</div>
		</div>
		<!--<div class="promiseCon">-->
		<!--<div class="inforContent">-->
		<!--<div class="main">-->
		<!--<img src="/static/images/textIcon.png" class="textFlag" style="top: 8px;">-->
		<!--<p class="option">-->
		<!--<span>承诺类型：<b style="color: #ff6d70">担保</b></span>-->
		<!--<button class="original btn-primary btn-xs">查看全文</button>-->
		<!--</p>-->
		<!--<p class="context">-->
		<!--新手注册免费领取30800u币约30.8元；充值返利；邀请用户返利；累计奖励30次、60次-->
		<!--</p>-->
		<!--</div>-->
		<!--</div>-->
		<!--</div>-->
	</div>
	<div class="advertising">
		<h3><i class="icon icon-bullhorn"></i>&nbsp;广告内容&nbsp;&nbsp;<i class="icon icon-edit advert-1" title="编辑"></i></h3>
		<div class="billing">
			<div id="billing_0">
				<span>微信</span>
				<p class="load">正在拼命加载中....</p>
			</div>
			<div id="billing_1">
				<span>知乎</span>
				<p class="load">正在拼命加载中....</p>
			</div>
			<div id="billing_2">
				<span>论坛</span>
				<p class="load">正在拼命加载中....</p>
			</div>
			<div id="billing_3">
				<span>微博</span>
				<p class="load">正在拼命加载中....</p>
			</div>
			<div id="billing_4">
				<span>贴吧</span>
				<p class="load">正在拼命加载中....</p>
			</div>
		</div>
		<!--<div class="inforContent">-->
		<!--<div class="main">-->
		<!--<img src="/static/images/textIcon.png" class="textFlag" style="top: 8px;">-->
		<!--<p class="option">-->
		<!--<span>煽动性：<b style="color: #ff6d70">强</b></span>-->
		<!--<span>广告渠道：<b style="color: #ff6d70">百度贴吧</b></span>-->
		<!--<span>发布时间：<b style="color: #ff6d70">2017-11-22</b></span>-->
		<!--<button class="original btn-primary btn-xs">查看全文</button>-->
		<!--</p>-->
		<!--<p class="context">-->
		<!--广告内容：放款快，审核简单，赶快注册！-->
		<!--</p>-->
		<!--</div>-->
		<!--</div>-->
	</div>

	<div class="publicity">
		<h3 style="margin-bottom: 15px;">
			<span style="display: inline-block;"><i class="icon icon-bullhorn"></i>&nbsp;宣传行为&nbsp;&nbsp;<i class="icon icon-edit publicity-1" title="编辑"></i></span>
			<button type="button" class="btn btn-info" style="position: relative;top: -3px;left: 20px;">存档取证</button>
		</h3>
		<div class="publicityTable">
			<!-- <div id="publicityTable"></div> -->
			<table id="pubTable" border="1">
				<thead>
					<th></th>
					<th>微博</th>
					<th>贴吧</th>
					<th>论坛</th>
					<th>微信</th>
					<th>知乎</th>
				</thead>
				<tbody>
					<tr>
						<td>强煽动性广告</td>
						<td class="inf3_webo">1111</td>
						<td class="inf3_forum">1111</td>
						<td class="inf3_bbs">1111</td>
						<td class="inf3_wechat">1111</td>
						<td class="inf3_zhihu">1111</td>
					</tr>
					<tr>
						<td>一般煽动性广告</td>
						<td class="inf2_webo">2222</td>
						<td class="inf2_forum">2222</td>
						<td class="inf2_bbs">2222</td>
						<td class="inf2_wechat">2222</td>
						<td class="inf2_zhihu">2222</td>
					</tr>
					<tr>
						<td>无煽动性广告</td>
						<td class="inf1_webo">333</td>
						<td class="inf1_forum">333</td>
						<td class="inf1_bbs">333</td>
						<td class="inf1_wechat">333</td>
						<td class="inf1_zhihu">333</td>
					</tr>
					<tr>
						<td>非广告</td>
						<td class="ad0_webo">444</td>
						<td class="ad0_forum">444</td>
						<td class="ad0_bbs">444</td>
						<td class="ad0_wechat">444</td>
						<td class="ad0_zhihu">444</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="commentInfor">
		<h3 style="margin-bottom: 15px;">
			<span style="display: inline-block;"><i class="icon icon-asterisk"></i>&nbsp;舆情分析&nbsp;&nbsp;<i class="icon icon-edit comment-1" title="编辑"></i></span>
			<button type="button" class="btn btn-info" style="position: relative;top: -3px;left: 20px;">存档取证</button>
		</h3>
		<div>
			<h4><i class="icon icon-comment"></i>&nbsp;评论信息</h4>
			<div class="commentinforContent">
				<div id="commentinforContent_0">
					<span>微信</span>
					<p class="load">正在拼命加载中....</p>
				</div>
				<div id="commentinforContent_1">
					<span>知乎</span>
					<p class="load">正在拼命加载中....</p>
				</div>
				<div id="commentinforContent_2">
					<span>论坛</span>
					<p class="load">正在拼命加载中....</p>
				</div>
				<div id="commentinforContent_3">
					<span>微博</span>
					<p class="load">正在拼命加载中....</p>
				</div>
				<div id="commentinforContent_4">
					<span>贴吧</span>
					<p class="load">正在拼命加载中....</p>
				</div>
			</div>
			<!--<div class="inforContent" id="commentinforContent">-->
			<!--<div class="main">-->
			<!--<img src="/static/images/textIcon.png" class="textFlag" style="top:8px;">-->
			<!--<p class="option">-->
			<!--<span>评论倾向：<b style="color: #ff6d70">积极</b></span>-->
			<!--<span>评论来源：<b style="color: #ff6d70">百度贴吧</b></span>-->
			<!--<span>发布时间：<b style="color: #ff6d70">2017-12-11</b></span>-->
			<!--<button class="originalbtn btn-primary btn-xs">查看全文</button>-->
			<!--</p>-->
			<!--<p class="context">-->
			<!--评论内容：放款快，审核简单，赶快注册！-->
			<!--</p>-->
			<!--</div>-->
			<!--</div>-->
		</div>
		<div style="margin-top: 20px;">
			<h4><i class="icon icon-signal"></i>&nbsp;趋势统计</h4>
			<div id="opinion" style="width: 100%;height: 300px;"></div>
		</div>
	</div>
	<div class="related">
		<div class="pro related-1" style="float: left;">
			<h4><i class="icon icon-beaker"></i>&nbsp;关联产品</h4>
			<div id="product">
				游戏大全

				理财网

				理财网
			</div>
		</div>
		<div class="pro related-2" style="float: right">
			<h4><i class="icon icon-road"></i>&nbsp;关联企业</h4>
			<div id="company">
				财付通

				支付宝

				嘟嘟
			</div>
		</div>
	</div>

</div>
<!-- 模态框 -->
<div class="modal fade " id="moreInfo" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">更多信息</h4>
			</div>
			<div class="modal-body">
				<span class="titleName">渠道：</span><span id="channel"></span><br>
				<span class="titleName">发布时间：</span><span id="Release_time"></span><br>
				<span class="titleName">标题：</span><span id="Advertising_Headlines"></span><br>
				<span class="titleName">作者：</span><span id="author"></span><br>
				<span class="titleName">用户：</span><span id="usn"></span><br>
				<span class="titleName">内容：</span>
				<span id="url"><a href=""></a></span>
				<span id="words" style="word-wrap:break-word;"></span><br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

<!-- 自己的JS -->
{% block my_js %}
<script src="/static/echarts/echarts-all-3.min.js"></script>
<script src="/static/js/FileSaver.js"></script>
<script src="/static/js/jquery.wordexport.js"></script>
<!-- 导出PDF -->
<script src="/static/js/html2canvas.js" type="text/javascript"></script>
<script src="/static/js/jspdf.debug.js" type="text/javascript"></script>
<script>
	var name='{{name}}';
	var type='{{flag}}';
	var pid='{{pid}}';
	if (type=='1'){
		$('.isPlatform').show();
	}
	$('#title-1').text(unescape(name));
	$('.name').text(unescape(name));
	$('#tableName').text(unescape(name));
	// $('.isPlatformName').text(unescape(name));

	//导出PDF
	var downPdf = document.getElementById("LL-PDF");
	downPdf.onclick = function() {
		html2canvas(document.body, {
			onrendered:function(canvas) {

				var contentWidth = canvas.width;
				var contentHeight = canvas.height;

				// 一页pdf显示页面生成的canvas高度
				var pageHeight = contentWidth / 592.28*841.89;
				// 未生成pdf的HTML页面的高度
				var leftHeight = contentHeight;
				// 页面偏移
				var position = 0;
				// A4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
				var imgWidth = 595.28;
				var imgHeight = 592.28/contentWidth*contentHeight;

				var pageData = canvas.toDataURL('image/jpeg', 1.0);

				var pdf = new jsPDF('', 'pt', 'a4');

				//有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
				//当内容未超过pdf一页显示的范围，无需分页
				if(leftHeight < pageHeight){
					pdf.addImage(pageData,'JPEG',0,0,imgWidth,imgHeight)
				}else{
					while(leftHeight > 0) {
						pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
						leftHeight -= pageHeight;
						position -= 841.89;
						//避免添加空白页
						if(leftHeight > 0) {
							pdf.addPage();

						}
					}
				}

				// //返回图片dataURL，参数：图片格式和清晰度(0-1)
				// var pageData = canvas.toDataURL('image/jpeg', 1.0);

				// //方向默认竖直，尺寸ponits，格式a4[595.28,841.89]
				// var pdf = new jsPDF('', 'pt', 'a4');

				// //addImage后两个参数控制添加图片的尺寸，此处将页面高度按照a4纸宽高比列进行压缩
				// pdf.addImage(pageData, 'JPEG', 0, 0, 595.28, 592.28/canvas.width * canvas.height );

				pdf.save('公司画像.pdf');

			}
		})
	}

	//===========================
	$('#nav .nav_middle .main_li .li_a').on('mouseover',function () {
		$(this).siblings('.line').css({left:'0%'});
		if ($(document).scrollTop()!=0){
			$(this).css({color:'#ff9645'});
			$(this).find('i').css({color:'#ff9645'});
		}else {
			$(this).css({color:'#08F'});
			$(this).find('i').css({color:'#08F'});
		}
	}).on('mouseout',function () {
		$(this).siblings('.line').css({left:'-100%'});
		if ($(document).scrollTop()!=0){
			$(this).css({color:'#fff'});
			$(this).find('i').css({color:'#fff'});
		}else {
			$(this).css({color:'#000'});
			$(this).find('i').css({color:'#000'});
		}
	});

	$('#nav .nav_left img').attr('src','/static/images/scroll_logo.png');
	$('#nav .nav_left h3').css({color:'black'});
	window.onscroll=function () {
		$('#nav').css({backgroundColor:'#777'});
		$('#nav .nav_left h3').css({color:'white'});
		$('#nav .nav_left img').attr('src','/static/images/logo.png');
		$('#nav .nav_middle .main_li .line').css({backgroundColor:'#ff9645'});
		$('#nav .nav_middle .main_li .li_a').css({color:'white'});
		$('#nav .nav_middle .main_li .li_a i').css({color:'white'});
		$('#nav .nav_right span').css({color:'#fff',background:'#35baee'});
		if ($(document).scrollTop()==0){
			$('#nav').css({backgroundColor:'#fff'});
			$('#nav .nav_left h3').css({color:'black'});
			$('#nav .nav_left img').attr('src','/static/images/scroll_logo.png');
			$('#nav .nav_middle .main_li .line').css({backgroundColor:'#08F'});
			$('#nav .nav_middle .main_li .li_a').css({color:'black'});
			$('#nav .nav_middle .main_li .li_a i').css({color:'black'});
			$('#nav .nav_right span').css({color:'#0e0e0e',background:'white'});
		}
	};

</script>
<script src="/static/js/company.js"></script>

{% endblock %}


