{% extends "publicNav.html" %}
{% block title %}<title>项目画像</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/public_nav.css">
    <link rel="stylesheet" href="/static/css/project.css">
    <style>
        <!---->
        #nav {background: #fff;box-shadow: 0 2px 5px rgba(41,46,51,0.15);color: #0e0e0e;}
        #nav .nav_middle .main_li .li_a,#nav .nav_right span {color: #0e0e0e;}
        #nav .nav_middle .main_li .line {background-color: #08F;}
        #nav .nav_right span {border: 1px solid #787878;}
        #nav .nav_middle, #nav .nav_right {display: block;}
        #nav .nav_right span:hover {
            background: #2ad1ff !important;
            color: white!important;
        }
        <!---->
        .riskValueTable .fixed-table-toolbar .search,.publicityTable .fixed-table-toolbar .search {
            display: none;
        }
        .riskValueTable .bootstrap-table .table thead>tr>th,.publicityTable .bootstrap-table .table thead>tr>th{
            width: 5%;
        }
    </style>
{% endblock %}

{% block main %}
<div id="container">
    <div style="text-align: right;">
        <span class="top-1 btn btn-primary">一键取证</span>
        <span class="top-2 btn btn-primary">一键报告</span>
    </div>
    <div style="text-align: center;">
        <span style="font-size: 36px;">青云门画像报告</span>
    </div>
    <div id="card">
        <div class="infor">
            <h3>
                <b class="name">青云门</b>&nbsp;<i class="icon icon-edit comBisic" title="编辑"></i>
                <span class="nameStatus" style="font-size: 12px;color: #ff761f;">正在监测</span>
                <span class="status-1 status btn-primary"><i class="icon icon-retweet"></i>&nbsp;停止监测</span>
                <span class="status-2 status btn-primary"><i class="icon icon-sitemap"></i>&nbsp;查看网络图</span>
            </h3>
            <p class="infor-1 inforLine">
                <span>注册地：</span>&nbsp;<b class="location">北京</b>
            </p>
            <p class="infor-2 inforLine">
                <span>运营模式：</span>&nbsp;<b class="type">互联网金融-P2P理财</b>
            </p>
            <p class="infor-3 inforLine">
                <span>实体类型：</span>&nbsp;<b class="type">平台</b>
            </p>
            <p class="infor-4 inforLine">
                <span>发展阶段：</span>&nbsp;<b class="type">成立于2006年</b>
            </p>
        </div>
    </div>
    <div class="riskValue">
        <h3><i class="icon icon-signal"></i>&nbsp;风险评价&nbsp;&nbsp;<i class="icon icon-edit comRisk" title="编辑"></i></h3>
        <div class="riskLeft">
            <p><span>是否疑似非法集资：</span>&nbsp;<b class="val-1" style="color: #ff9645;">是</b></p>
            <p><span>风险等级：</span>&nbsp;<b class="val-2" style="color: #ff9645;">1级</b></p>
            <p><span>影响等级：</span>&nbsp;<b class="val-3" style="color: #ff9645;">1级</b></p>
            <p><span>集资模式：</span>&nbsp;<b class="val-4" style="color: #ff9645;">P2P</b></p>
            <p><span>是否已判罚：</span>&nbsp;<b class="val-5" style="color: #ff9645;">是</b></p>
        </div>
        <div class="riskRight">
            <span>时间：</span>
            <select class="time">
                <option value="近一周">近一周</option>
                <option value="近一个月">近一个月</option>
                <option value="近三个月">近三个月</option>
                <option value="近一年">近一年</option>
            </select>
            <div class="monitor">
                <span>指标预警：<b class="mon-1">22</b></span>
                <span>模型预警：<b class="mon-2">321</b></span>
                <span>舆情预警：<b class="mon-3">54</b></span>
            </div>
            <div class="riskValueTable" style="margin-top: 10px;">
                <div id="riskValueTable"></div>
            </div>
        </div>
    </div>
    <div class="income">
        <h3><i class="icon icon-money"></i>&nbsp;收益率及其分布</h3>
        <div id="incomeTable" style="width: 100%;height: 450px;"></div>
    </div>
    <div class="promise">
        <div class="pro promise-1">
            <h3><i class="icon icon-gift"></i>&nbsp;收益承诺&nbsp;&nbsp;<i class="icon icon-edit comPro-1" title="编辑"></i></h3>
            <div id="promise-1">
                <div class="inforContent">
                    <div class="main">
                        <img src="/static/images/textIcon.png" class="textFlag">
                        <p class="context">
                            新手注册免费领取30800u币约30.8元；充值返利；邀请用户返利；累计奖励30次、60次
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro promise-2">
            <h3><i class="icon icon-inbox"></i>&nbsp;保本/担保承诺&nbsp;&nbsp;<i class="icon icon-edit comPro-2" title="编辑"></i></h3>
            <div id="promise-2">
                <div class="inforContent">
                    <div class="main">
                        <img src="/static/images/textIcon.png" class="textFlag">
                        <p class="context">
                            节日有“发2万元红包”“省钱30%”福利；任务简单、高额返利；每款游戏试玩20分钟可提现。
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="advertising">
        <h3><i class="icon icon-bullhorn"></i>&nbsp;广告内容&nbsp;&nbsp;<i class="icon icon-edit advert-1" title="编辑"></i></h3>
        <div class="inforContent">
            <div class="main">
                <img src="/static/images/textIcon.png" class="textFlag" style="top: 8px;">
                <p class="option">
                    <span>煽动性：<b style="color: #ff6d70">强</b></span>
                    <span>广告渠道：<b style="color: #ff6d70">百度贴吧</b></span>
                    <button class="original btn-primary btn-xs">查看原文</button>
                </p>
                <p class="context">
                    广告内容：放款快，审核简单，赶快注册！
                </p>
            </div>
        </div>
    </div>

    <!--<div class="internet">-->
    <!--<h3><i class="icon icon-bullhorn"></i>&nbsp;网络评论&nbsp;&nbsp;<i class="icon icon-edit inter-1" title="编辑"></i></h3>-->
    <!--<div class="inforContent">-->
    <!--<div class="main">-->
    <!--<img src="../static/images/textIcon.png" class="textFlag" style="top: 8px;">-->
    <!--<p class="option">-->
    <!--<span>评论倾向：<b style="color: #ff6d70">积极</b></span>-->
    <!--<span>评论来源：<b style="color: #ff6d70">百度贴吧</b></span>-->
    <!--</p>-->
    <!--<p class="context">-->
    <!--评论内容：放款快，审核简单，赶快注册！-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div id="commentLine" style="width:100%;height: 300px;"></div>-->
    <!--</div>-->
    <div class="commentInfor">
        <h3 style="margin-bottom: 15px;">
            <span style="display: inline-block;"><i class="icon icon-asterisk"></i>&nbsp;舆情分析&nbsp;&nbsp;<i class="icon icon-edit comment-1" title="编辑"></i></span>
            <button type="button" class="btn btn-info" style="position: relative;top: -3px;left: 20px;">存档取证</button>
        </h3>
        <div>
            <h4><i class="icon icon-comment"></i>&nbsp;评论信息</h4>
            <div class="inforContent">
                <div class="main">
                    <img src="/static/images/textIcon.png" class="textFlag" style="top:8px;">
                    <p class="option">
                        <span>评论倾向：<b style="color: #ff6d70">积极</b></span>
                        <span>评论来源：<b style="color: #ff6d70">百度贴吧</b></span>
                        <span>用户昵称：<b style="color: #ff6d70">小飞侠</b></span>
                        <button class="originalbtn btn-primary btn-xs">查看原文</button>
                    </p>
                    <p class="context">
                        评论内容：放款快，审核简单，赶快注册！
                    </p>

                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <h4><i class="icon icon-signal"></i>&nbsp;趋势统计</h4>
            <div id="opinion" style="width: 100%;height: 300px;"></div>
        </div>
    </div>

    <div class="related">
        <div class="pro related-1" style="float: left;">
            <h4><i class="icon icon-beaker"></i>&nbsp;相关产品</h4>
            <div id="product">
                游戏大全

                理财网

                理财网
            </div>
        </div>
        <div class="pro related-2" style="float: right;">
            <h4><i class="icon icon-road"></i>&nbsp;相关企业</h4>
            <div id="company">
                财付通

                支付宝

                嘟嘟
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<!--<script src="/static/js/jquery.cookie.js"></script>-->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/echarts/echarts.min.js"></script>
<script src="/static/echarts/china.js"></script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/platform-1.js"></script>
<script>
    $('#nav .nav_middle .main_li .li_a').on('mouseover',function () {
        $(this).siblings('.line').css({left:'0%'});
        if ($(document).scrollTop()!=0){
            $(this).css({color:'#ff9645'});
            $(this).find('i').css({color:'#ff9645'});
        }else {
            $(this).css({color:'#08F'});
            $(this).find('i').css({color:'#08F'});
        }
    }).on('mouseout',function () {
        $(this).siblings('.line').css({left:'-100%'});
        if ($(document).scrollTop()!=0){
            $(this).css({color:'#fff'});
            $(this).find('i').css({color:'#fff'});
        }else {
            $(this).css({color:'#000'});
            $(this).find('i').css({color:'#000'});
        }
    });

    $('#nav .nav_left img').attr('src','/static/images/scroll_logo.png');
    $('#nav .nav_left h3').css({color:'black'});
    window.onscroll=function () {
        $('#nav').css({backgroundColor:'#777'});
        $('#nav .nav_left h3').css({color:'white'});
        $('#nav .nav_left img').attr('src','/static/images/logo.png');
        $('#nav .nav_middle .main_li .line').css({backgroundColor:'#ff9645'});
        $('#nav .nav_middle .main_li .li_a').css({color:'white'});
        $('#nav .nav_middle .main_li .li_a i').css({color:'white'});
        $('#nav .nav_right span').css({color:'#fff',background:'#35baee'});
        if ($(document).scrollTop()==0){
            $('#nav').css({backgroundColor:'#fff'});
            $('#nav .nav_left h3').css({color:'black'});
            $('#nav .nav_left img').attr('src','/static/images/scroll_logo.png');
            $('#nav .nav_middle .main_li .line').css({backgroundColor:'#08F'});
            $('#nav .nav_middle .main_li .li_a').css({color:'black'});
            $('#nav .nav_middle .main_li .li_a i').css({color:'black'});
            $('#nav .nav_right span').css({color:'#0e0e0e',background:'white'});
        }
    };
</script>
{% endblock %}