{% extends "publicNav.html" %}
{% block title %}<title>互联网金融违规取证保全系统</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/modalANDtable.css">
    <link rel="stylesheet" href="/static/css/homePage.css">
{% endblock %}

{% block main %}
<div id="container">
    <div id="picChart-1" class="map"></div>
    <div class="left_top">
        <div class="title">
            <img src="/static/images/chart-1.png">
            <span>疑似非法集资态势</span>
        </div>
        <div class="picChart-2">
            <div id="picChart-2"></div>
        </div>
    </div>
    <div class="top_mid">
        <div class="title" style="text-align: center;">
            <img src="/static/images/chart-2.png" style="width:25px;height:25px;">
            <span style="font-size:20px;vertical-align: middle;">本周预警数</span>
        </div>
        <div id="picChart-3" style="margin-top: 15px;">
            <dl>
                <dt>公司</dt>
                <dd class="company-1">11</dd>
            </dl>
            <dl>
                <dt>平台</dt>
                <dd class="company-2">22</dd>
            </dl>
            <dl>
                <dt>项目</dt>
                <dd class="company-3">33</dd>
            </dl>
        </div>
    </div>
    <div class="top_right">
        <div class="title" style="text-align: right;padding-right: 30px;">
            <img src="/static/images/chart-3.png">
            <span>感知概况</span>
        </div>
        <div class="picChart-4">
            <div id="picChart-4">
                <p>
                    <img src="/static/images/sign.png" alt="">&nbsp;
                    <span>公司：</span><b class="total_company">22</b>&nbsp;
                    <span>平台：</span><b class="total_product">15</b>&nbsp;
                    <span>项目：</span><b class="total_product">15</b>
                </p>
                <p>
                    <img src="/static/images/sign.png" alt="">&nbsp;
                    <span>今日入库：</span>&nbsp;&nbsp;<b class="todayIn">25</b>
                </p>
                <div id="picChart-4-4"></div>
            </div>
        </div>
    </div>
    <div class="bottom_left">
        <div class="title">
            <img src="/static/images/chart-4.png">
            <span>疑似非法集资省份排行</span>
        </div>
        <div class="picChart-5">
            <div id="picChart-5">
                <p style="position: relative;z-index: 10;"><span>省份</span><span>近一周</span><span>近一月</span></p>
                <div style="overflow: hidden; height:82%;" class="outSide">
                    <div id="proRank">
                        <p><span>北京</span><span>22</span><span>7</span></p>
                        <p><span>天津</span><span>11</span><span>9</span></p>
                        <p><span>上海</span><span>33</span><span>9</span></p>
                        <p><span>河南</span><span>11</span><span>6</span></p>
                        <p><span>广东</span><span>15</span><span>11</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_right">
        <div class="title" style="text-align: right;padding-right: 30px;">
            <img src="/static/images/chart-5.png">
            <span>疑似非法集资热点舆情</span>
        </div>
        <div class="picChart-6">
            <div id="picChart-6">
                <div style="overflow: hidden;height:98%;" class="rightoutSide">
                    <div id="comment">
                        <p><span style="float:left;margin-left:5%;">善心汇</span>该平台信誉极差，提现不......</p>
                        <p><span style="float:left;margin-left:5%;">IGOFX</span>该平台信誉极差，提现不......</p>
                        <p><span style="float:left;margin-left:5%;">皮皮果</span>采用拖延战术与玩家周旋....</p>
                        <p><span style="float:left;margin-left:5%;">青云门</span>采用拖延战术与玩家周旋....</p>
                        <p><span style="float:left;margin-left:5%;">五行币</span>采用拖延战术与玩家周旋....</p>

                        <p><span style="float:left;margin-left:5%;">善心汇</span>该平台信誉极差，提现不......</p>
                        <p><span style="float:left;margin-left:5%;">IGOFX</span>该平台信誉极差，提现不......</p>
                        <p><span style="float:left;margin-left:5%;">皮皮果</span>采用拖延战术与玩家周旋....</p>
                        <p><span style="float:left;margin-left:5%;">青云门</span>采用拖延战术与玩家周旋....</p>
                        <p><span style="float:left;margin-left:5%;">五行币</span>采用拖延战术与玩家周旋....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="promptInfor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="coverbody">
                    <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}

<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/homePage-1.js"></script>
<script>
    $('#container').height($(window).height());
    $('#nav .nav_middle .main_li .li_a').on('mouseover',function () {
        $(this).siblings('.line').css({left:'0%'});
    }).on('mouseout',function () {
        $(this).siblings('.line').css({left:'-100%'});
    });
    $('#nav').hover(function () {
        $('#nav .nav_middle').slideDown(300);
        $('#nav .nav_right').slideDown(300);
        $(this).css({background:'rgba(25, 107, 123, 0.7)'});//rgba(19, 18, 18, 0.67)
        $(this).css({borderBottom:'1px solid rgba(255,255,255,0.1)'});
        // $('#container #picChart-3 dl').css({fontSize:'18px'});
        // $('#container #picChart-3 dl dd').css({fontSize:'14px'});
        // $('.top_mid').css({'top':'90px'});
    },function () {
        $('#nav .nav_middle').slideUp(100);
        $('#nav .nav_right').slideUp(100);
        $(this).css({background:''});
        $(this).css({borderBottom:'none'});
        // $('#container #picChart-3 dl').css({fontSize:'30px'});
        // $('#container #picChart-3 dl dd').css({fontSize:'36px'});
        // $('.top_mid').css({'top':'10px'});
    })
</script>
{% endblock %}
