{% extends "publicNav.html" %}
{% block title %}<title>全国非法集资监测平台</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/modalANDtable.css">
    <link rel="stylesheet" href="/static/css/homePage.css">
<style>
    #nav .nav_middle .main_li:nth-of-type(1) {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
    #nav .nav_middle .main_li:nth-of-type(1) a {
        color:#ff9645;
    }
    .fourPic {
    	width: 30px;
    	height: 30px;
    }
</style>
{% endblock %}

{% block main %}
<div id="container">
    <div id="picChart-1" class="map"></div>
    <div class="left_top">
        <div class="title">
            <img src="/static/images/chart-1.png" class="fourPic">
            <span>疑似非法集资态势</span>
        </div>
        <div class="picChart-2">
            <div id="picChart-2">
                <center class="load">正在努力加载中...</center>
            </div>
        </div>
    </div>
    <div class="top_mid">
        <div class="title" style="text-align: center;">
            <img src="/static/images/chart-2.png" style="width:25px;height:25px;">
            <span style="font-size:20px;vertical-align: middle;">本周预警数</span>
        </div>
        <div id="picChart-3" style="margin-top: 15px;">
            <dl>
                <dt>公司</dt>
                <dd class="company-1">加载中...</dd>
            </dl>
            <dl>
                <dt>平台</dt>
                <dd class="company-2">加载中...</dd>
            </dl>
            <dl>
                <dt>项目</dt>
                <dd class="company-3">加载中...</dd>
            </dl>
        </div>
    </div>
    <div class="top_right">
        <div class="title" style="text-align: right;padding-right: 30px;">
            <img src="/static/images/chart-3.png" class="fourPic">
            <span>感知概况</span>
        </div>
        <div class="picChart-4">
            <div id="picChart-4">
                <!-- <p>
                    <img src="/static/images/sign.png" alt="">&nbsp;
                    <span>公司：</span><b class="total_company">22</b>&nbsp;
                    <span>平台：</span><b class="total_product">15</b>&nbsp;
                    <span>项目：</span><b class="total_product">15</b>
                </p> -->
                <p>
                    <img src="/static/images/sign.png" alt="">&nbsp;
                    <span>今日入库：</span>&nbsp;&nbsp;<b class="todayIn">正在加载中...</b>
                </p>
                <div id="picChart-4-4"></div>
            </div>
        </div>
    </div>
    <div class="bottom_left">
        <div class="title">
            <img src="/static/images/chart-4.png" class="fourPic">
            <span>疑似非法集资省份排行</span>
        </div>
        <div class="picChart-5">
            <div id="picChart-5">
                <p style="position: relative;z-index: 10;"><span>省份</span><span>近一周</span><span>近一月</span></p>
                <div style="overflow: hidden; height:82%;" class="outSide">
                    <div id="proRank">
                        <center class="load">正在努力加载中...</center>
                        <!-- <p><span>北京</span><span>22</span><span>7</span></p>
                        <p><span>天津</span><span>11</span><span>9</span></p>
                        <p><span>上海</span><span>33</span><span>9</span></p>
                        <p><span>河南</span><span>11</span><span>6</span></p>
                        <p><span>广东</span><span>44</span><span>11</span></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_right">
        <div class="title" style="text-align: right;padding-right: 30px;">
            <img src="/static/images/chart-5.png" class="fourPic">
            <span>疑似非法集资热点舆情</span>
        </div>
        <div class="picChart-6">
            <div id="picChart-6">
                <div style="overflow: hidden;height:98%;" class="rightoutSide">
                    <div id="comment">
                        <center class="load">正在努力加载中...</center>
                        <!-- <p><span class="comment_lef">银承派</span><span class="comment_rig">如此任性的银承派......</span></p>
                        <p><span class="comment_lef">中储贷</span><span class="comment_rig">在运营金动未来将......</span></p>
                        <p><span class="comment_lef">财富观</span><span class="comment_rig">在调查中，有5.4%......</span></p>
                        <p><span class="comment_lef">鼎信贷</span><span class="comment_rig">合规之路任重，行......</span></p>
                        <p><span class="comment_lef">派财网</span><span class="comment_rig">有时包尾并不是一 ......</span></p>
                        <p><span class="comment_lef">汇金益</span><span class="comment_rig">该平台极差，战术......</span></p>
                        <p><span class="comment_lef">易保利</span><span class="comment_rig">合规之路任重道远...</span></p>
                        <p><span class="comment_lef">橙旗贷</span><span class="comment_rig">采用拖延战术与玩家周....</span></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="promptInfor" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="coverbody">
                    <p style="text-align: center;font-size: 18px;color: #fff;font-weight: 900;"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}

<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/homePage-1.js"></script>
<script>
    $('#container').height($(window).height());

    $('#nav').hover(function () {
        $('#nav .nav_middle').slideDown(300);
        $('#nav .nav_right').slideDown(300);
        $(this).css({background:'rgba(25, 107, 123, 0.7)'});//rgba(19, 18, 18, 0.67)
        $(this).css({borderBottom:'1px solid rgba(255,255,255,0.1)'});
        // $('#container #picChart-3 dl').css({fontSize:'18px'});
        // $('#container #picChart-3 dl dd').css({fontSize:'14px'});
        // $('.top_mid').css({'top':'90px'});
    },function () {
        $('#nav .nav_middle').slideUp(100);
        $('#nav .nav_right').slideUp(100);
        $(this).css({background:''});
        $(this).css({borderBottom:'none'});
        // $('#container #picChart-3 dl').css({fontSize:'30px'});
        // $('#container #picChart-3 dl dd').css({fontSize:'36px'});
        // $('.top_mid').css({'top':'10px'});
    })
</script>
{% endblock %}
