{% extends "publicNav.html" %}
{% block title %}<title>监测预警</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/jquery.fullPage.css">
    <link rel="stylesheet" href="/static/css/modalANDtable.css">
    <link rel="stylesheet" href="/static/css/detection.css">
    <style>
        #nav .nav_middle .main_li:nth-of-type(2) {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
        #nav .nav_middle .main_li:nth-of-type(2) a {
            color:#ff9645;
        }
        #fullPage-nav li .active span, .fullPage-slidesNav .active span {background: transparent;}
        #fullPage-nav span, .fullPage-slidesNav span {
            width: 10px;
            height: 10px;
            border: 1px solid #fcf8e3;
        }
        #fullPage-nav li .active span, .fullPage-slidesNav .active span {
            background: #dff0d8;
        }
        #fullPage-nav li, .fullPage-slidesNav li {margin: 12px 7px;}
        .recordingTable .fixed-table-toolbar,.recordingTable .fixed-table-pagination .page-list,
        .placeRank .fixed-table-toolbar,.placeRank .fixed-table-pagination .page-list {
            display: none;
        }
        #nav {background: rgba(60, 118, 130, 0.52)}
        #nav .nav_middle, #nav .nav_right {display: block;}
        /*======*/
        .timeDate,.timeDate2,.timeDate3,.timeDate4 {
            display:none;
        }
        #sureTime,#sureTime2,#sureTime3,#sureTime4 {
            padding:1px 6px;
            color: white;
            font-size: 12px;
            border: 1px solid silver;
            border-radius: 5px;
            background:transparent;
            cursor: pointer;
        }
        #sureTime:hover,#sureTime2:hover,
        #sureTime3:hover,#sureTime4:hover {background: rgba(8,23,44,0.65)}

        #nav {
            top:0;
        }

        /* ====lvlei===2018-1-2 */
        /* 提示信息 */
        .load {
            text-align:center;
            color:#fff;
            font-size:18px;
            margin-top:20px;
        }
        /* 预警记录表格      预警分布表格*/
        #recordingTable thead th,#placeRank thead th{
            border-top:none;
        }
        #recordingTable,#placeRank {
            border-bottom:none;
        }
        /* 显示搜索框 */
        .recordingTable .fixed-table-toolbar{
            display:block;
        }
        .recordingTable .fixed-table-toolbar .search {
            width:20%;
            position:absolute;
            top:4px;
            right:100px;
            margin:0;
        }
        .recordingTable .fixed-table-toolbar .search input{
            height:30px;
            padding: 3px 6px;
            background: transparent;
            border: 1px solid silver;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
            vertical-align: middle;
        }
        .recordingTable .fixed-table-toolbar .search input:focus{
            background: #f8f8f8;
            color: #3c3c3c;
        }

        /* 解决表格无数据时缩水 */
        #recordingTable thead tr th {
            width:5%;
        }
    </style>
{% endblock %}

{% block main %}
<div id="container" class="fullpage">
    <div class="section firstScreen">
        <div class="topTitle clearfix" style="margin: 10px auto;">
            <div >
                <dl>
                    <dt>本周预警数</dt>
                    <dd><span class="com-3">0</span> / <span class="com-4">0</span></dd>
                </dl>
                <dl>
                    <dt>本月预警数</dt>
                    <dd><span class="com-2">0</span> / <span class="com-5">0</span></dd>
                </dl>
                <dl>
                    <dt>本季预警数</dt>
                    <dd><span class="com-1">0</span> / <span class="com-6">0</span></dd>
                </dl>
            <!-- </div>
            <div> -->
                <!-- <dl style="margin-left:8%;">
                    <dt>本周预警平台数</dt>
                    <dd class="com-4">暂无</dd>
                </dl>
                <dl>
                    <dt>本月预警平台数</dt>
                    <dd class="com-5">暂无</dd>
                </dl>
                <dl>
                    <dt>本季预警平台数</dt>
                    <dd class="com-6">暂无</dd>
                </dl> -->
            </div>

        </div>
        <div style="position:relative;">
            <div style="color: white;font-weight:700;font-size: 24px;position: relative;">
                <h3 style="color: white;display: inline-block;"><i class="icon icon-pencil"></i>&nbsp;预警记录</h3>
                <div class="search">
                    <!-- <input size="30" type="text" placeholder="请输入查询内容" class="searchWord"/> -->
                    <button type="button" class="btn btn-primary btn-sm moreSitu" title="显示更多筛选条件"><i class="icon icon-plus"></i></button>
                    <button type="button" class="btn btn-primary btn-sm">确定</button>
                </div>
            </div>
            <div class="content" style="display: none;margin:5px 0 0 40px;">
                <div class="content-1 conLeft" style="margin-top:20px;">
                    <span class="ct-tit">预警时间：</span>
                    <select id="select-1" class="selectLab">
                        <option value="7">近一周</option>
                        <option value="30">近一个月</option>
                        <option value="90">近三个月</option>
                        <option value="365">近一年</option>
                    </select>
                </div>
                <div class="content-2 conLeft">
                    <span class="ct-tit">运营模式：</span>
                    <select id="select-2" class="selectLab">
                        <option value="0" >全部</option>
                        <!-- <option value="P2P理财">P2P理财</option>
                        <option value="投资项目">投资项目</option>
                        <option value="游戏">游戏</option>
                        <option value="任务奖励">任务奖励</option>
                        <option value="股权私募基金">股权私募基金</option> -->
                    </select>
                </div>
                <div class="content-3 conLeft">
                    <span class="ct-tit">预警类型：</span>
                    <select id="select-3" class="selectLab">
                        <option value="0" selected>全部</option>
                        <!-- <option value="舆情预警">舆情预警</option> -->
                        <!-- 改为动态生成的 -->
                        <!-- <option value="模型预警">模型预警</option>
                        <option value="指标预警">指标预警</option> -->
                    </select>
                </div>
                <div class="content-4 conLeft">
                    <span class="ct-tit">实体类型：</span>
                    <select id="select-4" class="selectLab">
                        <option value="0" selected>全部</option>
                        <option value="1">平台</option>
                        <option value="2">公司</option>
                        <option value="3">项目</option>
                    </select>
                </div>
                <div class="content-5 conLeft">
                    <span style="display: inline-block;" class="ct-tit">预警分布：</span>
                    <select id="city34" class="selectLab">
                        <option value="all" selected>全部</option>
                        <option value='北京'>北京</option>
                        <option value='天津'>天津</option>
                        <option value='安徽'>安徽</option>
                        <option value='澳门'>澳门</option>
                        <option value='福建'>福建</option>
                        <option value='甘肃'>甘肃</option>
                        <option value='广东'>广东</option>
                        <option value='广西'>广西</option>
                        <option value='贵州'>贵州</option>
                        <option value='海南'>海南</option>
                        <option value='河北'>河北</option>
                        <option value='河南'>河南</option>
                        <option value='黑龙江'>黑龙江</option>
                        <option value='湖北'>湖北</option>
                        <option value='湖南'>湖南</option>
                        <option value='吉林'>吉林</option>
                        <option value='江苏'>江苏</option>
                        <option value='江西'>江西</option>
                        <option value='辽宁'>辽宁</option>
                        <option value='内蒙古'>内蒙古</option>
                        <option value='青海'>青海</option>
                        <option value='山东'>山东</option>
                        <option value='山西'>山西</option>
                        <option value='陕西'>陕西</option>
                        <option value='上海'>上海</option>
                        <option value='四川'>四川</option>
                        <option value='台湾'>台湾</option>
                        <option value='西藏'>西藏</option>
                        <option value='香港'>香港</option>
                        <option value='新疆'>新疆</option>
                        <option value='云南'>云南</option>
                        <option value='浙江'>浙江</option>
                        <option value='重庆'>重庆</option>
                        <option value='宁夏'>宁夏</option>
                    </select>
                </div>
            </div>
            <div class="recordingTable" style="margin-top: 10px;">
                <div id="recordingTable">
                    <p class="load">正在努力加载中...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section secondScreen" style="overflow:hidden;">
        <div class="trend" style="float: left;width:48%;">
            <div style="color: white;font-weight:700;font-size: 24px;position: relative;">
                <h3 style="color: white;display: inline-block;"><i class="icon icon-dashboard"></i>&nbsp;预警态势</h3>
                <div class="search-2">
                    <!--<input size="30" type="text" placeholder="请输入查询内容" class="searchWord-2"/>-->
                    <button type="button" class="btn btn-primary btn-sm moreSitu-2" title="显示更多筛选条件"><i class="icon icon-plus"></i></button>
                </div>
            </div>
            <div class="content-2" style="display: none;margin:5px 0 0 40px;">
                <div class="content-3 conLeft">
                    <span class="ct-tit">预警类型：</span>
                    <select id="second_select-3" class="selectLab">
                        <option value="0" selected>全部</option>
                        <!-- <option value="舆情预警">舆情预警</option> -->
                        <!-- <option value="模型预警">模型预警</option>
                        <option value="指标预警">指标预警</option> -->
                    </select>
                </div>
                <div class="content-4 conLeft">
                    <span class="ct-tit">实体类型：</span>
                    <select id="second_select-4" class="selectLab">
                        <option value="0" selected>全部</option>
                        <option value="1">平台</option>
                        <option value="2">公司</option>
                        <option value="3">项目</option>
                    </select>
                </div>
                <div class="content-5 conLeft">
                    <span style="display: inline-block;" class="ct-tit">预警分布：</span>
                    <select id="second_city34" class="selectLab">
                        <option value="all" selected>全部</option>
                        <option value='北京'>北京</option>
                        <option value='天津'>天津</option>
                        <option value='安徽'>安徽</option>
                        <option value='澳门'>澳门</option>
                        <option value='福建'>福建</option>
                        <option value='甘肃'>甘肃</option>
                        <option value='广东'>广东</option>
                        <option value='广西'>广西</option>
                        <option value='贵州'>贵州</option>
                        <option value='海南'>海南</option>
                        <option value='河北'>河北</option>
                        <option value='河南'>河南</option>
                        <option value='黑龙江'>黑龙江</option>
                        <option value='湖北'>湖北</option>
                        <option value='湖南'>湖南</option>
                        <option value='吉林'>吉林</option>
                        <option value='江苏'>江苏</option>
                        <option value='江西'>江西</option>
                        <option value='辽宁'>辽宁</option>
                        <option value='内蒙古'>内蒙古</option>
                        <option value='青海'>青海</option>
                        <option value='山东'>山东</option>
                        <option value='山西'>山西</option>
                        <option value='陕西'>陕西</option>
                        <option value='上海'>上海</option>
                        <option value='四川'>四川</option>
                        <option value='台湾'>台湾</option>
                        <option value='西藏'>西藏</option>
                        <option value='香港'>香港</option>
                        <option value='新疆'>新疆</option>
                        <option value='云南'>云南</option>
                        <option value='浙江'>浙江</option>
                        <option value='重庆'>重庆</option>
                        <option value='宁夏'>宁夏</option>
                    </select>
                </div>
                <div class="content-1 conLeft" style="margin-top:20px;">
                    <span class="ct-tit">预警时间：</span>
                    <select id="second_select-1" class="selectLab">
                        <option value="7">近一周</option>
                        <option value="30" selected>近一个月</option>
                        <option value="90">近三个月</option>
                        <option value="365">近一年</option>
                    </select>
                </div>
                <div class="content-2 conLeft">
                    <span class="ct-tit">运营模式：</span>
                    <select id="second_select-2" class="selectLab">
                        <option value="0" selected>全部</option>
                        <!-- <option value="P2P理财">P2P理财</option>
                        <option value="投资项目">投资项目</option>
                        <option value="游戏">游戏</option>
                        <option value="任务奖励">任务奖励</option>
                        <option value="股权私募基金">股权私募基金</option> -->
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-sm" style="margin-left: 10px;">确定</button>
            </div>
            <div id="trendLine" style="width:100%;height:450px;margin-top:30px;">
                <center class="load">正在努力加载中...</center>
            </div>
        </div>
        <div class="type" style="float:right;width:48%;">
            <!-- <h3 style="color: white;text-align: left;"><i class="icon icon-stethoscope"></i>&nbsp;预警类型</h3> -->
            <div style="color: white;font-weight:700;font-size: 24px;position: relative;">
                <h3 style="color: white;display: inline-block;"><i class="icon icon-stethoscope"></i>&nbsp;预警类型</h3>
                <div class="search-2-2">
                    <!--<input size="30" type="text" placeholder="请输入查询内容" class="searchWord-2"/>-->
                    <button type="button" class="btn btn-primary btn-sm moreSitu-2-2" title="显示更多筛选条件"><i class="icon icon-plus"></i></button>
                </div>
            </div>
            <div class="content-2-2" style="display: none;margin:5px 0 0 40px;">
                <div class="content-3 conLeft">
                    <span class="ct-tit">预警类型：</span>
                    <select id="second_select-3-2" class="selectLab">
                        <option value="0" selected>全部</option>
                        <!-- <option value="舆情预警">舆情预警</option> -->
                        <!-- <option value="模型预警">模型预警</option>
                        <option value="指标预警">指标预警</option> -->
                    </select>
                </div>
                <div class="content-4 conLeft">
                    <span class="ct-tit">实体类型：</span>
                    <select id="second_select-4-2" class="selectLab">
                        <option value="0" selected>全部</option>
                        <option value="1">平台</option>
                        <option value="2">公司</option>
                        <option value="3">项目</option>
                    </select>
                </div>
                <div class="content-5 conLeft">
                    <span style="display: inline-block;" class="ct-tit">预警分布：</span>
                    <select id="second_city34-2" class="selectLab">
                        <option value="all" selected>全部</option>
                        <option value='北京'>北京</option>
                        <option value='天津'>天津</option>
                        <option value='安徽'>安徽</option>
                        <option value='澳门'>澳门</option>
                        <option value='福建'>福建</option>
                        <option value='甘肃'>甘肃</option>
                        <option value='广东'>广东</option>
                        <option value='广西'>广西</option>
                        <option value='贵州'>贵州</option>
                        <option value='海南'>海南</option>
                        <option value='河北'>河北</option>
                        <option value='河南'>河南</option>
                        <option value='黑龙江'>黑龙江</option>
                        <option value='湖北'>湖北</option>
                        <option value='湖南'>湖南</option>
                        <option value='吉林'>吉林</option>
                        <option value='江苏'>江苏</option>
                        <option value='江西'>江西</option>
                        <option value='辽宁'>辽宁</option>
                        <option value='内蒙古'>内蒙古</option>
                        <option value='青海'>青海</option>
                        <option value='山东'>山东</option>
                        <option value='山西'>山西</option>
                        <option value='陕西'>陕西</option>
                        <option value='上海'>上海</option>
                        <option value='四川'>四川</option>
                        <option value='台湾'>台湾</option>
                        <option value='西藏'>西藏</option>
                        <option value='香港'>香港</option>
                        <option value='新疆'>新疆</option>
                        <option value='云南'>云南</option>
                        <option value='浙江'>浙江</option>
                        <option value='重庆'>重庆</option>
                        <option value='宁夏'>宁夏</option>
                    </select>
                </div>
                <div class="content-1 conLeft" style="margin-top:20px;">
                    <span class="ct-tit">预警时间：</span>
                    <select id="second_select-1-2" class="selectLab">
                        <option value="7">近一周</option>
                        <option value="30" selected>近一个月</option>
                        <option value="90">近三个月</option>
                        <option value="365">近一年</option>
                    </select>
                </div>
                <div class="content-2 conLeft">
                    <span class="ct-tit">运营模式：</span>
                    <select id="second_select-2-2" class="selectLab">
                        <option value="0" selected>全部</option>
                        <!-- <option value="P2P理财">P2P理财</option>
                        <option value="投资项目">投资项目</option>
                        <option value="游戏">游戏</option>
                        <option value="任务奖励">任务奖励</option>
                        <option value="股权私募基金">股权私募基金</option> -->
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-sm" style="margin-left: 10px;">确定</button>
            </div>
            <div id="warningType" style="width: 100%;height: 450px;margin-top: 30px;"></div>
        </div>
    </div>

    <div class="section thirdScreen" style="overflow: hidden;">
        <div class="place" style="margin-top:30px;width:60%;height: 450px;float: left;">
            <h3 style="color: white;display: inline-block;vertical-align:top;margin-right: 20px;">
                <i class="icon icon-map-marker"></i>&nbsp;&nbsp;预警分布
            </h3>
            <select class="_time">
                <option value="7">近一周</option>
                <option value="30">近一个月</option>
                <option value="90">近三个月</option>
                <option value="365">近一年</option>
            </select>
            <div id="map" style="width:100%;height:100%;">
                <p class="load">正在努力加载中...</p>
            </div>
        </div>
        <div class="rank" style="margin-top:30px;width:38%;height:450px;float: right;">
            <h3 style="color: white;"><i class="icon icon-flag"></i>&nbsp;&nbsp;疑似非法集资城市排行</h3>
            <div class="placeRank" style="margin-top: 20px;">
                <div id="placeRank">
                    <p class="load">正在努力加载中...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section fiveScreen" style="overflow: hidden;">
        <h3 style="color: white;text-align: left;"><i class="icon icon-dashboard"></i>&nbsp;运营模式</h3>
        <div class="pieContent" style="width:100%;margin-top:50px;">
        <!-- <div class="pieContent" style="width:100%;margin-top:50px;height:80%;"> -->
            <div id="pie-1" style="width:45%;height:450px;display: inline-block;"></div>
            <!-- <div id="pie-1" style="width:45%;height:100%;display: inline-block;"></div> -->
            <div id="pie-2" style="width:45%;height:450px;display: inline-block;margin-left:5%;"></div>
            <!-- <div id="pie-2" style="width:45%;height:100%;display: inline-block;margin-left:5%;"></div> -->
        </div>
    </div>

    <div class="section sixScreen">
        <h3 style="color: white;text-align: left;display: inline-block;vertical-align:top;margin-right: 20px;">
            <i class="icon icon-signal"></i>&nbsp;预警排名Top20
        </h3>
        <select class="_time1">
            <option value="0" selected>全部</option>
            <option value="1">平台</option>
            <option value="2">公司</option>
            <option value="3">项目</option>
        </select>
        <select class="_time2">
            <option value="7">近一周</option>
            <option value="30">近一个月</option>
            <option value="90" >近三个月</option>
            <option value="365">近一年</option>
        </select>
        <!-- <div id="warningNum" style="width: 100%;height: 450px;margin-top: 30px;"> -->
        <div id="warningNum" style="width: 100%;height: 80%;margin-top: 30px;">
            <p class="load">正在努力加载中...</p>
        </div>
    </div>

</div>
{% endblock %}

{% block my_js %}
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/moment.min.js"></script>
<script src="/static/echarts/echarts.min.js"></script>
<script src="/static/echarts/china.js"></script>
<script src="/static/js/chalk.js"></script>
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/jquery.fullPage.min.js"></script>
<script src="/static/js/detection-1.js"></script>
<script>
    <!---->
    $('.fullpage').fullpage({
        'verticalCentered': false,
        'css3': true,
        'anchors': ['page1', 'page2','page3','page4','page5'],
        'navigation': 'true',
        'loopBottom':'true',
        'navigationPosition': 'right',
        'navigationTooltips': ['预警记录','预警态势及类型','预警分布','运营模式','预警排名'],
        'fixedElements':'#nav'
    });
    var show=0,show_2=0,show_2_2=0;
    $('.firstScreen .search .moreSitu').on('click',function () {
        if (show==0){
            $('#container .content').slideDown(130);
            show=1;
        }else {
            $('#container .content').slideUp(60);
            show=0;
        }
    });
    $('.secondScreen .search-2 .moreSitu-2').on('click',function () {
        if (show_2==0){
            $('#container .content-2').slideDown(130);
            show_2=1;
        }else {
            $('#container .content-2').slideUp(60);
            show_2=0;
        }
    });
    $('.secondScreen .search-2-2 .moreSitu-2-2').on('click',function () {
        if (show_2_2==0){
            $('#container .content-2-2').slideDown(130);
            show_2_2=1;
        }else {
            $('#container .content-2-2').slideUp(60);
            show_2_2=0;
        }
    });

</script>
{% endblock %}