{% extends "publicNav.html" %}
{% block title %}<title>感知推荐</title>{% endblock %}
{% block my_css %}
    <link rel="stylesheet" href="/static/css/jquery.fullPage.css">
    <link rel="stylesheet" href="/static/css/modalANDtable.css">
    <link rel="stylesheet" href="/static/css/perceived.css">
    <style>
        #nav {top:0;}
        #nav .nav_middle .main_li:nth-of-type(4) {
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            transform: scale(1.3);
        }
        #nav .nav_middle .main_li:nth-of-type(4) a {
            color:#ff9645;
        }
        #fullPage-nav li .active span, .fullPage-slidesNav .active span {background: transparent;}
        #fullPage-nav span, .fullPage-slidesNav span {
            width: 10px;
            height: 10px;
            border: 1px solid #fcf8e3;
        }
        #fullPage-nav li, .fullPage-slidesNav li {margin: 12px 7px;}
        #nav {background: rgba(60, 118, 130, 0.52)}
        #nav .nav_middle, #nav .nav_right {display: block;}
        .fellTable .fixed-table-toolbar,.fellTable .fixed-table-pagination .page-list {
            display: none;
        }
        .fellTable .fixed-table-container thead th:first-child {width: 2% !important;}
        .fellTable .fixed-table-container .bs-checkbox {vertical-align: middle;}
        .fixed-table-container tbody .selected td {background-color: #2a556f!important;}
        .addClub .fixed-table-pagination .pagination-info {display: none;}
        /*======*/
        .timeDate,.timeDate2,.timeDate3,.timeDate4 {
            display:none;
        }
        #sureTime,#sureTime2,#sureTime3,#sureTime4 {
            padding:1px 6px;
            color: white;
            font-size: 12px;
            border: 1px solid silver;
            border-radius: 5px;
            background:transparent;
            cursor: pointer;
        }
        #sureTime:hover,#sureTime2:hover,
        #sureTime3:hover,#sureTime4:hover {background: rgba(8,23,44,0.65);}

        /* 加载提示信息 */
        p.load {
            text-align:center;
            color:#fff;
            font-size: 18px;
            margin-top:20px;
        }
        /* 感知推荐表格 */
        #fellTable thead th{
            border-top:none;
        }
        /* 查看全文 */
        #perceiveContent_in {
            max-height:400px;
            overflow:auto;
        }
        #perceiveContent_in .inforContent .main {
            width: 96%;
            text-align: left;
            position: relative;
            padding: 5px 5px 5px 30px;
            /* background: rgba(88, 88, 88, 0.1); */
            margin: 20px auto 0;
        }
        #perceiveContent_in .inforContent .main .textFlag {
            position: absolute;
            top: 8px;
            left:8px;
        }
        .modal-dialog {
            width: 50%;
            margin: 10% auto !important;
        }

        #perceiveContent_in thead {
            display:none !important;
        }
        #perceiveContent .fixed-table-container {
            border:none !important;
        }

        #perceiveContent_in {
            border:none !important;
        }
        #perceiveContent_in a:hover{
            color:#ff9645;
        }


        #perceiveContent .table-hover>tbody>tr:hover {
            background-color: transparent!important;
        }
    </style>
{% endblock %}

{% block main %}
<div id="container" class="fullpage">
    <div class="section firstScreen">
        <div>
            <div class="title" style="text-align: center;color: white;">
                <img src="/static/images/chart-2.png" style="width: 25px;height: 25px;">
                <span style="font-size:20px;vertical-align: middle;">当天感知数</span>
            </div>
            <div class="topTitle" style="margin: 0 auto;margin-top:15px;">
                <dl>
                    <dt>公司</dt>
                    <dd class="com-1">正在加载中</dd>
                </dl>
                <dl>
                    <dt>平台</dt>
                    <dd class="com-2">正在加载中</dd>
                </dl>
                <dl>
                    <dt>项目</dt>
                    <dd class="com-3">正在加载中</dd>
                </dl>
            </div>
        </div>
        <div class="felling">
            <h3 style="color: white;display: inline-block;">
                <i class="icon icon-bar-chart"></i>&nbsp;感知推荐
                <span id="oneLibrary_1" class="oneLibrary btn btn-primary" disabled="disabled" title="请勾选后再添加入库"
                      style="margin-left: 20px;vertical-align: middle;">一键入库</span>
            </h3>
            <div class="fellTable" style="margin-top: 20px;">
                <div id="fellTable">
                    <p class="load">正在努力加载中...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section secondScreen">
        <h3 style="color: white;margin-top: 20px;">
            <i class="icon icon-cloud-upload"></i>&nbsp;添加入库
            <span id="oneLibrary_2" class="oneAdd btn btn-primary" disabled="disabled" title="请添加后再入库"
                  style="margin-left:20px;vertical-align: middle;">一键入库</span>
            <span class="oneAdd btn btn-primary" title="导入文件"
                  style="margin-left:20px;vertical-align: middle;">批量添加</span>
        </h3>
        <div class="newAdd">
            <input type="text" class="add-1" placeholder="实体名称">
            <input type="text" class="add-2" placeholder="推荐理由">
            <!-- <input type="text" class="add-3" placeholder="实体类型"> -->
            <select class="add-3">
                <option value="1">平台</option>
                <option value="2">公司</option>
                <option value="3">项目</option>
            </select>
            <input type="text" class="add-4" placeholder="注册公司">
            <input type="text" class="add-5" placeholder="相关人物">
            <input type="text" class="add-6" placeholder="其他关键词">
            <span id="add" class="newRow btn btn-primary" title="请输入内容在添加"
                  style="vertical-align: bottom;">新增一行</span>
        </div>
        <div class="addClub" style="width: 100%;">
            <div id="addClub">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editRow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑</h4>
            </div>
            <div class="modal-body">
                <div class="user-1 example">
                    <span>实体名称</span><input type="text" class="u1_Val"><span class="prompt" style="width:25%;"></span>
                </div>
                <div class="user-2 example">
                    <span>推荐理由</span><input type="text" class="u2_Val">
                </div>
                <div class="user-3 example">
                    <span>实体类别</span>
                    <select class="u3_Val">
                        <option value="1">平台</option>
                        <option value="2">公司</option>
                        <option value="3">项目</option>
                    </select>
                </div>
                <div class="user-4 example">
                    <span>注册公司</span><input type="text" class="u4_Val"><span class="prompt" style="width:25%;"></span>
                </div>
                <div class="user-5 example">
                    <span>相关人物</span><input type="text" class="u5_Val"><span class="prompt" style="width:25%;">(请用英文逗号分隔)</span>
                </div>
                <div class="user-6 example">
                    <span>其他关键词</span><input type="text" class="u6_Val"><span class="prompt" style="width:25%;">(请用英文逗号分隔)</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="Sure_1" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 二次确定 -->
<div class="modal fade" id="Sure_2box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:30%;font-size:16px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >确定修改吗？</h4>
            </div>
            <div class="modal-body" id="Sure_2box_body" style="display:none;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="Sure_2">确定</button>
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> -->
            </div>
        </div>
    </div>
</div>
<!-- 更多内容 -->
<div class="modal fade" id="perceiveContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:55%;font-size:16px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >更多内容</h4>
            </div>
            <div class="modal-body" id="perceiveContent_in">
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button> -->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block my_js %}
<!-- <script src="/static/js/pager.js"></script> -->
<script src="/static/js/echarts-2/build/dist/echarts.js"></script>
<script src="/static/js/chalk.js"></script>
<script src="/static/js/jquery.fullPage.min.js"></script>
<script src="/static/js/perceived-1.js"></script>
<script>
    <!---->
    $('.fullpage').fullpage({
        'verticalCentered': false,
        'css3': true,
        'anchors': ['page1', 'page2'],
        'navigation': 'true',
        'loopBottom':'true',
        'navigationPosition': 'right',
        'navigationTooltips': ['预警记录','预警态势'],
        'fixedElements':'#nav,#Sure_2box',// 不跟随滚动的元素
                                        //鼠标在此元素 不滚屏
        'normalScrollElements':'#perceiveContent .modal-dialog'
    });

</script>
{% endblock %}